.grid {
  column-gap: var(--grid-gap);
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), minmax(0, 1fr));
  margin-inline: auto;
  max-inline-size: var(--grid-max);
  padding-inline: max(var(--space-gutter), env(safe-area-inset-left));
}
